In [1]:
print("hello world")

hello world

# Variables

In [3]:
a= 5
print(a, type(a), id(a))

5 <class 'int'> 140711087956904

In [10]:
a = 'rohith'
b = 'prasanna'
c = a+b
print(c)
c = 3
z = str(c)
d = a+z
print(d)
print(a*c)

rohithprasanna
rohith3
rohithrohithrohith

In [11]:
#multiple assignment
a, b, c = 10, 15, 50
print(a,b,c, type(a), type(b), type(c), id(a), id(b), id(c))

10 15 50 <class 'int'> <class 'int'> <class 'int'> 2495017714192 2495017714352 2495017715472

In [12]:
a = b = c = 10
print(a,b,c, type(a), type(b), type(c), id(a), id(b), id(c))

10 10 10 <class 'int'> <class 'int'> <class 'int'> 2495017714192 2495017714192 2495017714192

In [18]:
a=105
b=105
c=a*b
print (c)

11025

In [20]:
#list of python
a = [1, 2, 34.45, 5j, 'rohith']
print(a, type(a), id(d))

for i in a:
    print(i)

[1, 2, 34.45, 5j, 'rohith'] <class 'list'> 2495098219376
1
2
34.45
5j
rohith

In [24]:
#dictionary type
a = {1:'rohith', 2:'prasanna', 3:'prrp'}
print(a, type(a), id(d))

for i in a:
    print(i, a[i])

{1: 'rohith', 2: 'prasanna', 3: 'prrp'} <class 'dict'> 2495098219376
1 rohith
2 prasanna
3 prrp

In [28]:
m = 13
print(a, type(m), id(m))
m = 31
print(a, type(m), id(m))

31 <class 'int'> 2495017714288
31 <class 'int'> 2495017714864

In [29]:
a, b = , 2
print(a,b,type(a), type(b), id(a), id(b))

15 2 <class 'int'> <class 'int'> 2495017714352 2495017713936

In [42]:
s = "rohith"[::-1]
print(s)

htihor

In [43]:
a = a/b
print(a,b,type(a), type(b), id(a), id(b))

7.5 2 <class 'float'> <class 'int'> 2495079529616 2495017713936

In [48]:
a=10000000
print(a,type(a),id(a))

10000000 <class 'int'> 2495097820720

In [50]:
a = 7
if a==1:
    print("A is 1")
elif a==2:
    print("a is 2")
elif a==3:
    print("a is 3")
elif a==4:
    print("a is 4")
elif a==5:
    print("a is 5")
elif a==6:
    print("a is 6")
elif a==7:
    print("a is 7")
else:
    print('End')

a is 7

In [51]:
a = 5.0
if type(a) is int:
    print(' a is an integer')
    if a==1:
        print("A is 1")
    elif a==2:
        print("a is 2")
    elif a==3:
        print("a is 3")
    elif a==4:
        print("a is 4")
    elif a==5:
        print("a is 5")
    elif a==6:
        print("a is 6")
    elif a==7:
        print("a is 7")
    else:
        print('End')
else:
    print('finish')

finish

In [56]:
def weekday(n):
   match n:
      case 0: return "Sunday"
      case 1: return "Monday"
      case 2: return "Tuesday"
      case 3: return "wednesday"
      case 4: return "Thursday"
      case 5: return "Friday"
      case 6: return "Saturday"
      case _: return "Invalid day number"
print (weekday(0))
print (weekday(6))
print (weekday(7))

Sunday
Saturday
Invalid day number

In [58]:
a = [10,20,30,40,50,60,70,80,90,1000]
for i in a:
    print(i)

10
20
30
40
50
60
70
80
90
1000

In [59]:
a = [1,2,3,4,5,6,6,4,5,3,434]
for i in a:
    print(i)

1
2
3
4
5
6
6
4
5
3
434

In [60]:
for i in range(5):
    print(i)
    if (i==2):
        break
    print(i,i)

0
0 0
1
1 1
2

In [61]:
#while loop
a = 100
while type(a) == int:
    print('Rohith')
    a = a/2
    print(a, type(a))

Rohith
50.0 <class 'float'>

In [62]:
def addision(a,b):
    return a+b
addision(3,4)

7

In [63]:
def addision(a=1,b=0):
    return a+b
print(addision(10,10))
print(addision())

20
1

In [64]:
def addision(a=1,b=0):
    return a+b
print(addision(3,4))
print(addision())

7
1

In [66]:
def sub(a, b = 0):
    return a-b

print(sub(a = 3,b=4))

-1

In [67]:
def greet():
    print("welcome")

greet()

welcome

In [2]:
for i in range(5):
    print(i)
    if (i==2):
        pass
    print(i, i)

0
0 0
1
1 1
2
2 2
3
3 3
4
4 4

In [9]:
import calendar
year=2023
month=9
x=calendar.month(year,month)
print(x)

   September 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [4]:
#Arithmetic operator
#addition operator
a=3
b=5
c=(a+b)
print((c))

8

In [5]:
#sub operator
a=50
b=12
c=(a-b)
print(c)

38

In [6]:
#mul operator
a=96
b=69
c=(a*b)
print(c)

6624

In [7]:
#div operator
a=200
b=50
c=(a/b)
print(c)

4.0

In [10]:
#pow operator
a=10
b=6
c=(a ** b)
print(c)

1000000

In [11]:
#floordiv operator
a=50
b=10
c=(a//b)
print(c)

5

In [12]:
#mod (a,b)
a=10
b=6
c=(a%b)
print(c)

4

In [15]:
#comparison operator
#greater than>
x=10
y=6
z=(x > y)
print(z)

True

In [16]:
#lesser than operator
a=10
b=6
c=(a<y)
print(c)

False

In [20]:
#equal to ==
a=20
b=10
c=(a==b)
print(c)

False

In [21]:
#not equal
a=20
b=10
c=(a!=y)
print(c)

True

In [23]:
#greater than (or)equal to
a=20
b=10
c=(a>=y)
print(c)

True

In [24]:
#less than (or) equal to
a=30
b=10
c=(a<=b)
print(c)

False

In [25]:
#logical operators
#logical AND
a=50
b=20
c=(a and b)
print(c)

20

In [42]:
#logical OR
a=50
b=20
c=(a or b)
print(c)

50

In [39]:
#logical NOT
a=50
b=30
c=(not a)
print(c)

False

In [43]:
#Bitwise operator
#bitwise AND
a=1000
b=1100
c=(a&b)
print(c)

72

In [44]:
#bitwise or
a=1010
b=1000
c=(x|y)
print(c)

14

In [45]:
#bitwise NOT
a=1300
b=1252
c=(-x)
print(c)

-10

In [46]:
#bitwise XOR
a=1200
b=1050
c=(x^y)
print(c)

12

In [62]:
#bitwise right shift
a=100
a>>1

50

In [63]:
#bitwise lift shift
a=2000
a<<1

4000

In [65]:
#identity opertor
x=["apple","mango"]
y=["apple","mango"]
z=x
print(z)
print(x is y )
print(x is z)

['apple', 'mango']
False
True

In [66]:
#Membership operators
x=["apple","mango"]
print("banana"in x)

False

In [67]:
#Membership operators
x=["apple","mango"]
print("banana"not in x)

True

In [8]:
import math

In [9]:
a=16
b=math.sqrt(a)
print(b)

4.0

In [31]:
a=int(input("a value"))
b=math.sqrt(a)
print(b)

12.0

In [45]:
#swap operator
x = 20
y = 90
temp = x
x = y
y = temp
print("Value of y:", y)
print("Value of x:", x)

Value of y: 20
Value of x: 90

In [70]:
#Function with argument
def my_function(fname):
  print(fname + " Refsnes")
my_function("mail")
my_function("Tobias")
my_function("Linus")

mail Refsnes
Tobias Refsnes
Linus Refsnes

In [69]:
#function
def my_function():
  print("hi from a function")
my_function()

hi from a function

In [72]:
#Arbitrary Arguments *args
def my_function(*kids):
  print("The eldest child is " + kids[1])
my_function("rock", "john", "cena")

The eldest child is john

In [73]:
#Keyword Arguments
def my_function(child3, child2, child1):
  print("The youngest child is " + child2)
my_function(child1 = "prem", child2 = "rohith", child3 = "prasanna")

The youngest child is rohith

In [1]:
#lambda function
#lambda arguments
x = lambda a, b : a + b
print(x(5, 10))

15

In [2]:
x = lambda a = 14, b = 15 : a + b
print(x(5,4))
print(x())

9
29

In [6]:
#a simple class and object creation
class Human():
    name = 'Rohith prassnna'

In [7]:
h1 = Human()
print(h1, type(h1))
print(h1.name, type(h1.name))

<__main__.Human object at 0x0000022FB2A1E830> <class '__main__.Human'>
Rohith prassnna <class 'str'>

In [8]:
#The __init__() Function, constructor

class Human():
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def __str__(self):
        return self.name

In [10]:
h1 = Human(name='rohith prasnna', age=23, sex='Male') # object initialisation
print(h1, type(h1))
print(h1.name, type(h1.name))
print(h1.age, type(h1.age))
print(h1.sex, type(h1.sex))

rohith prasnna <class '__main__.Human'>
rohith prasnna <class 'str'>
23 <class 'int'>
Male <class 'str'>

In [11]:
def greet():
        print('hai I am ', self.name)

In [14]:
class Human():
    def __init__(self, name = 'Kavin', age = 35, sex = 'Male'):
        self.name = name
        self.age = age
        self.sex = sex
    def __str__(self):
        return self.name
    def greet(self):
        print('hai I am ', self.name,'and i am ',self.age, 'old. Please welcome to my home.')

In [17]:
h1 = Human(name='rohith', age=23, sex="male")

In [18]:
h1.greet()

hai I am  rohith and i am  23 old. Please welcome to my home.

In [1]:
#inheritance
#Parent class
class Human():
    def __init__(self, name = 'Rohith', age = 23, sex = 'Male'):
        self.name = name
        self.age = age
        self.sex = sex
    def __str__(self):
        return self.name
    def greet(self):
        print('hai I am ', self.name,'and i am ',self.age, 'old. Please welcome to my home.')

In [26]:
#child class
class Student(Human):
    pass

In [24]:
s1 = Student(name='rohith', age=23, sex='male')

In [28]:
s1.greet()

hai I am  rohith and i am  23 old. Please welcome to my home.

In [29]:
#initialising student class
class Student(Human):
    def __init__(self, name, age, sex, department, college):
        super().__init__(name, age, sex)
        self.department = department
        self.college = college

    def intro(self):
        print("I am", self.name, "and I am studying in", self.college, "in the", self.department, "department.")

In [30]:
s1 = Student(name="Rohith", age=23, sex="Male", department="mech", college="PsV")

In [31]:
s1.greet()

hai I am  Rohith and i am  23 old. Please welcome to my home.

In [33]:
s1.intro()

I am Rohith and I am studying in PsV in the mech department.

In [16]:
class Human:
    def __init__(self, name='rohith', age=23, sex='Male'):
        self.__name = name  # Private attribute
        self.__age = age    # Private attribute
        self.__sex = sex    # Private attribute

    # Getter methods
    def get_name(self):
        return self.__name

    def get_age(self):
        return self.__age

    def get_sex(self):
        return self.__sex

    def greet(self):
        print(f"Hello, I am {self.__name}, and I am {self.__age} years old. Welcome to my home.")

class Student(Human):
    def __init__(self, name, age, sex, department, college):
        super().__init__(name, age, sex)
        self.__department = department  # Private attribute
        self.__college = college        # Private attribute

    # Getter methods specific to Student
    def get_department(self):
        return self.__department

    def get_college(self):
        return self.__college

    def intro(self):
        print(f"I am {self.get_name()}, studying in {self.__college}, in the {self.__department} department.")
    
    def get_student_info(self):
        return f"Name: {self.get_name()}\nAge: {self.get_age()}\nSex: {self.get_sex()}\nDepartment: {self.__department}\nCollege: {self.__college}"

In [15]:
s1 = Student(name="rohith", age=23, sex="male", department="Mechanical Engineering", college="PSV University")

In [10]:
print("Name:", s1.get_name())
print("Age:", s1.get_age())
print("Sex:", s1.get_sex())
print("Department:", s1.get_department())
print("College:", s1.get_college())

Name: rohith
Age: 23
Sex: male
Department: Mechanical Engineering
College: PSV University

In [12]:
class Human():
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def __str__(self):
        return self.name

In [13]:
h1 = Human(name='Rohithprasanna', age=23, sex='Male')
print(h1, type(h1))
print(h1.name, type(h1.name))
print(h1.age, type(h1.age))
print(h1.sex, type(h1.sex))

Rohithprasanna <class '__main__.Human'>
Rohithprasanna <class 'str'>
23 <class 'int'>
Male <class 'str'>

In [27]:
class Human():
    name= 'rohith'
    department='mechanical'
    year= 'final year'

In [35]:
h1 = Human()
print(h1, type(h1))
print(h1.name, type(h1.name))
print(h1.department,type(h1.department))
print(h1.year,type(h1.year))

<__main__.Human object at 0x000002048961EB30> <class '__main__.Human'>
rohith <class 'str'>
mechanical <class 'str'>
final year <class 'str'>

In [3]:
class Human():
    def __init__(self,name, department, year):
        self.name = name
        self.department=department
        self.year=year
    def __str__(self):
        return self.name

In [4]:
h1 = Human(name='rohith', department='mechanical', year='final') 
print(h1, type(h1))
print(h1.name, type(h1.name))
print(h1.department, type(h1.department))
print(h1.year, type(h1.year))

rohith <class '__main__.Human'>
rohith <class 'str'>
mechanical <class 'str'>
final <class 'str'>

In [10]:
def solve(a): 
    a = [1, 3, 5] [2, 4, 6] 
    a = print(a) 
    solve(a) 
    print(a)

<>:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\psv102\AppData\Local\Temp\ipykernel_6296\2967000426.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  a = [1, 3, 5] [2, 4, 6]

In [26]:
#python resources

In [11]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [12]:
import platform
print(platform.python_version())

3.10.11

In [14]:
#multiline string
print("""my name is Rohithprasanna 
      B.E mechanical engineering in p.s.v""")

my name is Rohithprasanna
      B.E mechanical engineering in p.s.v

In [20]:
import datetime
now= datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2023-09-22 22:53:06

In [25]:
from math import pi
d = float(input ("Input the diameter of the circle : "))
print ("The area of the circle with diameter " + str(d) + " is: " + str(pi * d**2))

The area of the circle with diameter 55.0 is: 9503.317777109125

In [9]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + fname + " " + lname)

Hello  ROHITHPRASANNA PR

In [1]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

List :  ['50']
Tuple :  ('50',)

In [ ]:
#sample ipynb

In [2]:
class Student:  
    # Constructor - non parameterized  
    def __init__(self):  
        print("This is non parametrized constructor")  
    def show(self,name):  
        print("Hello",name)  
student = Student()  
student.show("RohithPrasanna")

This is non parametrized constructor
Hello RohithPrasanna

In [6]:
class BankAccount:
    def __init__(self, account_number, balance):
        self.__account_number = account_number  
        self.__balance = balance  

    def get_balance(self):  
        return self.__balance

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount

    def withdraw(self, amount):
        if amount > 0 and amount <= self.__balance:
            self.__balance -= amount

In [7]:
account = BankAccount("123456", 1000)
print(account.get_balance())  
account.withdraw(500)  
print(account.get_balance())

1000
500

In [29]:
class Human:
    def __init__(self, name='Rohith', age=23, sex='Male'):
        self.__name = name  
        self.__age = age    
        self.__sex = sex    

    # Getter methods
    def get_name(self):
        return self.__name

    def get_age(self):
        return self.__age

    def get_sex(self):
        return self.__sex

    def greet(self):
        print(f"Hello, I am {self.__name}, and I am {self.__age} years old. Welcome to my home.")

class Student(Human):
    def __init__(self, name, age, sex, department, college):
        super().__init__(name, age, sex)
        self.__department = department  
        self.__college = college        

    # Getter methods specific to Student
    def get_department(self):
        return self.__department

    def get_college(self):
        return self.__college

    def intro(self):
        print(f"I am {self.get_name()}, studying in {self.__college}, in the {self.__department} department.")

# Example usage:
student = Student(name="Rohithprasanna", age=23, sex="male", department="Mechanical", college="XYZ University")

# Accessing attributes through getter methods
print("Name:", student.get_name())
print("Age:", student.get_age())
print("Sex:", student.get_sex())
print("Department:", student.get_department())
print("College:", student.get_college())

# Calling methods
student.greet()
student.intro()

Name: Rohithprasanna
Age: 23
Sex: male
Department: Mechanical
College: XYZ University
Hello, I am Rohithprasanna, and I am 23 years old. Welcome to my home.
I am Rohithprasanna, studying in XYZ University, in the Mechanical department.

In [ ]:
#polymorphish

In [31]:
class Animal:
    def speak(self):
        pass

class Dog(Animal):
    def speak(self):
        return "Woof!"

class Cat(Animal):
    def speak(self):
        return "Meow!"

# Polymorphic function
def animal_sound(animal):
    return animal.speak()

# Create instances
dog = Dog()
cat = Cat()

# Call the polymorphic function with different objects
print(animal_sound(dog))  # Output: "Woof!"
print(animal_sound(cat))  # Output: "Meow!"

Woof!
Meow!

In [35]:
class Human:
    def __init__(self, name='Kavin', age=35, sex='Male'):
        self.name = name
        self.age = age
        self.sex = sex

    def greet(self):
        print(f"Hello, I am {self.name}, and I am {self.age} years old. Welcome to my home.")

    def __str__(self):
        return self.name

    def __add__(self, other):
        if isinstance(other, Human):
            # If 'other' is also a Human object, concatenate the names
            combined_name = f"{self.name} {other.name}"
            return Human(name=combined_name)
        elif isinstance(other, Student):
            # If 'other' is a Student object, concatenate Student's name with Human's name
            combined_name = f"{self.name} {other.get_name()}"
            return Human(name=combined_name)
        else:
            raise ValueError("Invalid operand type")

class Student(Human):
    def __init__(self, name, age, sex, department, college):
        super().__init__(name, age, sex)
        self.department = department
        self.college = college

    def intro(self):
        print(f"I am {self.name}, studying in {self.college}, in the {self.department} department.")

    def get_name(self):
        return self.name

# Example usage:
human1 = Human(name="Rohith", age=23, sex="male")
student1 = Student(name="Prasanna", age=20, sex="Male", department="Computer Science", college="XYZ University")

# Operator overloading for concatenating names
combined = human1 + student1
print(combined)  # Output: "Alice Bob"

Rohith Prasanna

In [ ]:
#w3 resources

In [36]:
#number sequence
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

List :  ['55']
Tuple :  ('55',)

In [37]:
#filename
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

The extension of the file is : 'rohith'

In [40]:
#color list
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-2]))

Red White

In [43]:
#exam schedule
exam_st_date = (13,12,2023)
print( "The examination will start from : %i / %i / %i"%exam_st_date)

The examination will start from : 13 / 12 / 2023