In [1]:
print("hello world")

hello world

# Variables

In [3]:
a= 5
print(a, type(a), id(a))

5 <class 'int'> 140711087956904

In [10]:
a = 'rohith'
b = 'prasanna'
c = a+b
print(c)
c = 3
z = str(c)
d = a+z
print(d)
print(a*c)

rohithprasanna
rohith3
rohithrohithrohith

In [11]:
a, b, c = 10, 15, 50
print(a,b,c, type(a), type(b), type(c), id(a), id(b), id(c))

10 15 50 <class 'int'> <class 'int'> <class 'int'> 2495017714192 2495017714352 2495017715472

In [12]:
a = b = c = 10
print(a,b,c, type(a), type(b), type(c), id(a), id(b), id(c))

10 10 10 <class 'int'> <class 'int'> <class 'int'> 2495017714192 2495017714192 2495017714192

In [18]:
a=105
b=105
c=a*b
print (c)

11025

In [20]:
a = [1, 2, 34.45, 5j, 'rohith']
print(a, type(a), id(d))

for i in a:
    print(i)

[1, 2, 34.45, 5j, 'rohith'] <class 'list'> 2495098219376
1
2
34.45
5j
rohith

In [24]:
a = {1:'rohith', 2:'prasanna', 3:'prrp'}
print(a, type(a), id(d))

for i in a:
    print(i, a[i])

{1: 'rohith', 2: 'prasanna', 3: 'prrp'} <class 'dict'> 2495098219376
1 rohith
2 prasanna
3 prrp

In [28]:
m = 13
print(a, type(m), id(m))
m = 31
print(a, type(m), id(m))

31 <class 'int'> 2495017714288
31 <class 'int'> 2495017714864

In [29]:
a, b = , 2
print(a,b,type(a), type(b), id(a), id(b))

15 2 <class 'int'> <class 'int'> 2495017714352 2495017713936

In [42]:
s = "rohith"[::-1]
print(s)

htihor

In [43]:
a = a/b
print(a,b,type(a), type(b), id(a), id(b))

7.5 2 <class 'float'> <class 'int'> 2495079529616 2495017713936

In [48]:
a=10000000
print(a,type(a),id(a))

10000000 <class 'int'> 2495097820720

In [50]:
a = 7
if a==1:
    print("A is 1")
elif a==2:
    print("a is 2")
elif a==3:
    print("a is 3")
elif a==4:
    print("a is 4")
elif a==5:
    print("a is 5")
elif a==6:
    print("a is 6")
elif a==7:
    print("a is 7")
else:
    print('End')

a is 7

In [51]:
a = 5.0
if type(a) is int:
    print(' a is an integer')
    if a==1:
        print("A is 1")
    elif a==2:
        print("a is 2")
    elif a==3:
        print("a is 3")
    elif a==4:
        print("a is 4")
    elif a==5:
        print("a is 5")
    elif a==6:
        print("a is 6")
    elif a==7:
        print("a is 7")
    else:
        print('End')
else:
    print('finish')

finish

In [56]:
def weekday(n):
   match n:
      case 0: return "Sunday"
      case 1: return "Monday"
      case 2: return "Tuesday"
      case 3: return "wednesday"
      case 4: return "Thursday"
      case 5: return "Friday"
      case 6: return "Saturday"
      case _: return "Invalid day number"
print (weekday(0))
print (weekday(6))
print (weekday(7))

Sunday
Saturday
Invalid day number

In [58]:
a = [10,20,30,40,50,60,70,80,90,1000]
for i in a:
    print(i)

10
20
30
40
50
60
70
80
90
1000

In [59]:
a = [1,2,3,4,5,6,6,4,5,3,434]
for i in a:
    print(i)

1
2
3
4
5
6
6
4
5
3
434

In [60]:
for i in range(5):
    print(i)
    if (i==2):
        break
    print(i,i)

0
0 0
1
1 1
2

In [61]:
a = 100
while type(a) == int:
    print('Rohith')
    a = a/2
    print(a, type(a))

Rohith
50.0 <class 'float'>

In [62]:
def addision(a,b):
    return a+b
addision(3,4)

7

In [63]:
def addision(a=1,b=0):
    return a+b
print(addision(10,10))
print(addision())

20
1

In [64]:
def addision(a=1,b=0):
    return a+b
print(addision(3,4))
print(addision())

7
1

In [66]:
def sub(a, b = 0):
    return a-b

print(sub(a = 3,b=4))

-1

In [67]:
def greet():
    print("welcome")

greet()

welcome

In [69]:
for i in range(5):
    print(i)
    if (i==2):
        pass
    print(i, i)

0
0 0
1
1 1
2
2 2
3
3 3
4
4 4